:root {
  /* BG Colors */
  --bg-color: #000;
  --content-bg: #222;
  --post-bg: #333;
  --blockquote-bg: #444;

  /* Text Colors */
  --text-color: #eee;
  --header-color: #eee;
  --accent-color: #ffd257;
  --link-color: #edc75f;
  --link-visited: #cfad53;

  /* Other */
  --hr-color: #ccc;
  --title-underline: #eee;
  --button-border: #444;
  --font-default: Verdana, system-ui, sans-serif;
}

body {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-default);
  line-height: 1.6;
}

body p {
  margin: 0.5em;
}

.title { 
  text-align: center; 
  font-size: 2.5em; 
  position: relative; 
  padding: 1rem; 
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited);
}

hr {
  border: 1px solid var(--hr-color);
  width: 100%;
  margin: 1em auto;
}

button {
  background-color: var(--content-bg);
  color: var(--text-color);
  border-radius: 5px;
  border: 1px solid var(--button-border);
  font-size: 100%;
}

blockquote, 
div.blockquote {
  font-style: italic;
  width: 90%
  margin: 1em 1em auto;
  background-color: var(--blockquote-bg);
}

/* Page Layout */

#main-content {
  max-width: 95%;
  margin: auto;
  padding: 2rem;
  background-color: var(--content-bg);
}

header {
  padding: 0;
}

header h1 a,
header h1 a:visited,
header h1 a:hover {
  color: var(--header-color);
}

/* Post Style */

div.post {
  max-width: 95%;
  padding: 2rem;
  background-color: var(--post-bg);
}

div.post div.post-title {
  color: var(--accent-color);
  font-size: 1.5rem;
  text-align: left;
  text-decoration: underline;
  margin-bottom: 2rem;
}

